/* HEADER */
.header {
  display: flex;
  justify-content: space-between;
  padding: 10 20px;
  border: 1px solid black;
}

.logo {
  width: 80px;
}

.nav-items > ul {
  display: flex;
}

.nav-items > ul > li {
  font-size: 20px;
  padding: 10px;
  list-style-type: none;
}

/* BODY */

.search-box {
  width: 200px;
  height: 10px;
  padding: 8px;
  margin: 10px 2px 10px 10px;
}

.search-btn {
  height: 30px;
}

.restaurant-container {
  display: flex;
  flex-wrap: wrap;
}

.res-card {
  width: 215px;
  padding: 8px;
  margin: 8px;
  background-color: #f0f0f0;
}

.res-card:hover {
  transform: scale(1.02);
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  background-color: #fff3a7;
  /* border: 2px solid rgb(244, 158, 87); */
}

.res-logo {
  width: 100%;
}

.filter {
  display: flex;
}

.filter-btn {
  margin: 10px 15px;
  height: 30px;
  cursor: pointer;
}

.login-btn {
  padding: 0 20px;
}

/* Shimmer */

.shimmer-container {
  display: flex;
  flex-wrap: wrap;
}

.shimmer-card {
  width: 215px;
  height: 400px;
  padding: 8px;
  margin: 8px;
  background-color: #f0f0f0;
}

.shimmer-btn {
  width: 215px;
  height: 30px;
  padding: 8px;
  margin: 8px;
  background-color: #f0f0f0;
}

.filter-wrapper {
  display: flex;
}
